@media (max-width: 1200px) {
    nav.header-page img, div.div-dropdown-navbar{
        width: 100px;
    }
    .section-background-fourone svg{
        height: 1.5rem;
        width: 1.5rem;
    }

}

@media (max-width: 991px) {
    .mt-form-custom{
        margin-top: 0;
    }

    .modal-flowers-top{
        width: 5em;
    }
    .cocktail-content h1{
        font-size: 60px;
        line-height: 70px;
    }

    .cocktail-text1-container,.cocktail-text2-container{
        font-size: 16px;
        line-height: 32px;
    }
}

@media (max-width: 767px) {
    .img-404{
        height: 27em;
        object-fit: cover;
    }

    .swiper-pagination-brown-line span.swiper-pagination-bullet {
        width: 70px;
    }



}

@media (max-width: 575px) {
    section.banner-home div.center-banner-div h2{
        font-size: 52px;
        line-height: 52px;
    }

    .div-home-slideimages h2 {
        font-size: 40px;
    }

    .swiper-pagination-brown-line span.swiper-pagination-bullet {
        width: 35px;
    }



}


