
/* GENERAL */

.object-fit-cover{
    object-fit: cover;
}

.active-underline{
    border-bottom: 1px solid #392a27;
    padding-bottom: 8px;
}

.brightness07{
    filter: brightness(0.7);
}

.h-80{
    height: 80%;
}

.vh-80{
    height: 80vh;
}

/* COLORS */

.color-coppa-primary,.color-coppa-primary:hover,.color-coppa-primary:active,.color-coppa-primary:focus{
    color: #392A27;
}

.color-coppa-secondary,.color-coppa-secondary:hover,.color-coppa-secondary:active,.color-coppa-secondary:focus{
    color: #faf1e1;
}

.color-coppa-third{
    color: #d7c6a0;
}

.bg-coppa-primary{
    background-color: #392A27;
}

.bg-coppa-secondary{
    background-color: #F8F7F3;
}

.color-transparent{
    color: transparent;
}

/* BG IMAGE GENERAL */

.section-background-fourone{
    background-image: url('../img/home/bgslideimages.webp');
}

.swiper-pagination-brown-line span.swiper-pagination-bullet{
    width: 4vw;
    height: 2px;
    margin: 0 !important;
}
.div-slideImages-controllers{
    z-index: 9999;
}

.div-slideImages-controllers .swiper-button-prev:after,.div-slideImages-controllers .swiper-button-next:after {
    font-size: 25px;
}

.swiper-pagination-brown-line span.swiper-pagination-bullet-active{
    background-color:#392A27 ;
}


/* COCKTAILS */

.cocktails-slide img.coppa-img{
    width: 10em;
    z-index: 4;
    position: relative;
}

.cocktails-slide .swiper-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.cocktails-slide .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
}

.cocktails-slide .swiper-button-next, .swiper-button-prev{
    color: #392a27;
}

.cocktails-slide h3{
    font-size: 32px;
}

.cocktails-slide .swiper-slide {
    position: relative;
}

.cocktails-slide .center-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-decoration: none;
    z-index: 9;
}

.cocktails-slide .center-button:hover {
    background-color: #392a27;
    color: #ffffff;
}

.cocktails-slide .swiper-slide:hover .center-button {
    display: block;
}

/* HOVER EFECT CARROUSEL */

.cocktails-slide .appear1-carrusel{
    position: absolute;
    top: -103px;
    right: -58px;
    z-index: 3;
    width: 24em;
}

.cocktails-slide .appear2-carrusel{
    position: absolute;
    top: -103px;
    right: -72px;
    z-index: 3;
    width: 24em;
}

.cocktails-slide .appear3-carrusel{
    position: absolute;
    top: -52px;
    right: -58px;
    z-index: 3;
    width: 24em;
}
.cocktails-slide .appear4-carrusel{
    position: absolute;
    top: -45px;
    right: -58px;
    z-index: 3;
    width: 24em;
}

/* DETAILS */

.details-container h2{
    font-size: 54px;
}

.details-container h6{
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}

.message-button {
    font-size: 12px;
    font-weight: 700;
    color: #392a27;
    letter-spacing: 1.71429px;
    background-color: transparent;
    border: 1px solid #392a27;
    padding: 15px 20px;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.message-button:hover {
    background-color: #392a27;
    color: #ffffff;
}

.secondary-link{
    color: #392a27;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #392a27;
}

.secondary-link:hover{
    color: #392a27;
}


