#enterLink{
    font-size: 10px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

#enterLink:hover{
    background-color: #463527;
}

#navSection{
    background-color: #efece4;
}

#navSection .rounded-link{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    color: #392a27;
    width: 100%;
    margin-bottom: 18px;
    padding: 22px 20px;
    text-align: center;
    text-decoration: none;
}

#navSection .content-container{
    max-width: 342px;
}

#navSection a img{
    width: 15em;
}
#navSection p{
    color: #392a27;
    font-size: 10px;
    letter-spacing: normal;
    line-height: 1.3;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    text-align: center;
}


