
/* HEADER */

.header-page {
    transition: background-color 0.5s ease;
}

nav.header-page img, div.div-dropdown-navbar{
    width: 134px;
    height: auto;
}

nav.header-page ul li a{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.71429px;
    line-height: 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1.875rem;
}

nav.header-page .dropdown ul li a{
    font-weight: 700;
}

div.div-dropdown-navbar button, div.div-dropdown-navbar svg{
    fill: #dee1e9;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    z-index: 2;
    letter-spacing: 1.71429px;
    line-height: 15px;
}

div.div-dropdown-navbar button:after{
    display: none;
}

.dropdown-toggle[aria-expanded="true"] .current-language-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    fill: #463527;
}

.dropdown-toggle[aria-expanded="false"] .current-language-icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

div.div-dropdown-navbar ul.show{
    border-radius: 30px 0px 30px 0px;
    top: -22px;
    height: 8em;
    width: 8em;
    z-index: 1;
}

div.div-dropdown-navbar ul li:first-child {
    margin-top: 49px;
}

div.div-dropdown-navbar ul li:nth-child(2) {
    margin-top: 9px;
}

div.div-dropdown-navbar .btn[aria-expanded="true"] {
    color: #463527;
}

#header-navbar-phone a span{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.71px;
    line-height: 15px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.options-menu-div-phone a{
    padding: 1.625rem 1.625rem 1.625rem 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 17px;
}

.options-menu-lang-phone a{
    width: auto;
    margin-right: 19px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.71429px;
    line-height: 33px;
    text-transform: uppercase;
}

/* MODAL */

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
    z-index: 9998;
}

#modal-div-info-age {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

#modal-div-info-age h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}
#modal-div-info-age .quest-modal-age{
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}

#modal-div-info-age .answer-age-div label{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
}

#modal-div-info-age .remember-age-div label{
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    line-height: 32px;
}

#modal-div-info-age button{
    background-color: #fff;
    border: 2px solid #afafaf;
    border-radius: 20px 0 20px 0;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 1.71px;
    line-height: 15px;
    margin-left: 1.875rem;
    padding: .625rem 1.0625rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

#modal-div-info-age button:hover{
    background-color: #463527;
    color: white;
}

#modal-div-info-age .answer-age-div input{
    border: 1px solid #392a27;
    width: 1.2em;
    height: 1.2em;
}
#modal-div-info-age #remember{
     border: 1px solid #392a27;
     height: 25px;
     width: 25px;
    border-radius: unset;
}

#modal-div-info-age #remember:checked{
    background-color: #392a27;
}

#modal-div-info-age .privacity-modal-age p{
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0 13em;
}

#modal-div-info-age .img-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    z-index: 10;
}

#modal-div-info-age .img-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    z-index: 10;
}

/* FOOTER */

.links-container, .data-container{
    width: 250px;
}

.links-container li, .links-container li a{
    color: #faf1e1;
    font-size: 1rem;
    letter-spacing: 1.71429px;
    border-bottom: 0 solid transparent;
    line-height: 22px;
    margin-bottom: 2rem;
    padding-bottom: 0;
    text-align: left;
    text-transform: none;
}

/* ANIMATE */

.hidden-before-scroll {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


/* 404 */

.btn-404-backhome{
    transition: 0.3s all ease-in-out;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-color: #392A27;
    background-color: #FFFFFF;
    font-size: 16px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    font-weight: 700;
    letter-spacing: 1.71429px;
    line-height: 15px;
}
